@font-face {
  font-family: 'Cafe24Oneprettynight';
  src: url(./fonts/Cafe24Oneprettynight.ttf) format('truetype');
}

@font-face {
  font-family: 'GmarketSansTTFBold';
  src: url(./fonts/GmarketSansTTFBold.ttf) format('truetype');
}

body {
  margin: 0;
  font-family: 'Cafe24Oneprettynight', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
